*,
*::before,
*::after{
    box-sizing: border-box;
}

:root {
    --main-font: 'Open Sans', sans-serif;
    --weight-regular: 100;
    --weight-bold: 300;
    --size-h1: 2rem; 
    --size-h2: 1.5rem;
    --size-h3: 1.25rem;
    --animation-duration: 0.5s;
    --main-black: #212227;
    --main-grey: #212227ea;
    --main-blue: #0D7F96;
    --main-white: #F0F5FA;
    --light-blue: #BDD4E7;
    --alt-blue: #96BAD9;
}


body {
    background: var(--main-white);
    color: var(--main-black);
    font-family: var(--main-font);
    scroll-behavior: smooth;
    margin: 0;
    width: 100%;
    line-height: 1.5;
    overflow: overlay;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--size-h1);
    font-weight: lighter;
}

h2 {
    font-size: var(--size-h2);
    font-weight: lighter;
}

.section-title {
    padding-bottom: 0.25em;
    
}

.section-subtitle {
    margin: 0;
    font-size: var(--size-h3);
    font-weight: 100;
    color: var(--main-blue);
}

.project-image {
    width: 100%;
    margin-bottom: 17px;
}

.project-tile {
    margin: 20px auto;
    width: 85%;
    max-width: 260px;
    background: var(--main-white);
    text-decoration: none;
    box-shadow: 0px 1px 3px;
    position: relative;
    height: 290px;
}

.project-tile:hover {
    animation-name: blur-focus;
    animation-duration: var(--animation-duration);
    box-shadow: 0px 1px 10px;
}

@keyframes blur-focus{
    0% {box-shadow: 0px 1px 3px;}
    100% {box-shadow: 0px 1px 10px;}
}

.project-tile a{
    text-decoration: none;
    color: var(--main-black);
}

.project-subtitle{
    margin: 10px 5px;
}

.project-button{
    width: 100%;
    border-radius: 0;
    border: 0px solid var(--main-black);
    padding: 10px 0px;
    background: var(--alt-blue);
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
}

.project-button:hover{
    animation-name: altmainblue;
    animation-duration: var(--animation-duration);
    background: var(--main-blue);
    
}

@keyframes altmainblue{
    0% {background: var(--alt-blue);}
    100% {background: var(--main-blue);}
}


#navbar{
    background: var(--main-black);
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0px;
    box-shadow: 0px 0px 3px;
    z-index: 9;
}
.navlink{
    display: block;
    float: right;
    color: var(--main-white);
    text-decoration: none;
    font-size: 19px;
    padding: 9px 25px;
}

.navlink:hover{
    animation-name: fadewhitealt;
    animation-duration: var(--animation-duration);
    color: var(--alt-blue);
}

@keyframes fadewhitealt{
    0% {color: var(--main-white);}
    100%{color: var(--alt-blue);}
}

#portfoliorepo{
    width: 75%;
    margin: auto;
}

#portfoliorepo a{
    text-decoration: none;
    color: var(--main-blue);
}

#about{
    height: 100vh;
    /*background-color: var(--light-blue);*/
    padding: 38vh 10px 0px;
    color: var(--main-black);
}

#about img{
    width: 20%;
    position: absolute;
    top: 28vh;
    left: 73vw;
    border-radius: 50%;
    border: 5px solid black;
    box-shadow: 0px 2px 3px;
}

#projects{  
    max-width: 100%;
    margin: auto;
    padding: 20px 0px;
    background-color: var(--alt-blue);
    /*height: 94.4vh;*/
}

#project-grid{
    display: grid;
    grid-template-columns: 33.3% 33.3% auto;
    margin: auto;
    width: 60%;
    min-width: 700px;
}

#contact{
    background-color: var(--main-grey);
    height: 190px;
    padding-top: 40px;
    margin: 0;
}

#contact .section-title{
    color: var(--main-white);
}

#contact-links a{
    color: var(--main-white);
    text-decoration: none;
    font-size: 30px;
    margin: 20px 1.5%;
}

#contact-links a:hover{
    animation-name: whitealtblue;
    animation-duration: var(--animation-duration);
    color: var(--alt-blue);
}

@keyframes whitealtblue{
    0% {color: var(--main-white);}
    100% {color: var(--alt-blue);}
}

::-webkit-scrollbar {width: 7px;}

::-webkit-scrollbar-track {margin: 45px 0px 0px;}

::-webkit-scrollbar-thumb {background: var(--main-black);}

::-webkit-scrollbar-thumb:hover {background: #555;}

@media (min-width: 800px) {
    :root {
        --size-h1: 3rem;
        --size-h2: 2rem;
        --size-h3: 1.5rem;
    }
}

@media (max-width: 750px) {
    #project-grid{
        grid-template-columns: auto; /*With an even number of projects, this can be changed to two columns*/
        min-width: 250px;
    }
    .project-tile{
        width: 250px;
    }
}

@media (max-width: 450px) {
    #project-grid{
        grid-template-columns: auto;
        min-width: 250px;
    }

    #nav-toggle{
        display: inline !important;
    }

    #navbar{
        display: none;
    }
}

#nav-toggle{
    position: fixed;
    margin 0;
    width: 100%;
    height: 45px;
    top: 0;
    left: 0;
    z-index: 9;
    background: var(--main-black);
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 3px;
    display: none;
}

#menu-button{
    float: left;
    font-size: 30px;
    padding: 0 5px;
    color: var(--main-white);  
}
